/* Déclaration des variables CSS pour le light mode*/
:root {
  --background-color: rgb(245, 244, 244);
  --text-color: black;
}

/* variables pour le dark mode*/
.dark-mode {
  --background-color: black;
  --text-color: white;
}

/* Styles globaux */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le body prend 100% de la hauteur de la fenêtre */
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn {
  position: relative;
  z-index: 5;
  border: 0;
  outline: 0;
}

.btn-text {
  position: relative;
  z-index: 1; /* Texte au-dessus de tout */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-fill {
    position: absolute;
    background: #4a6cf7;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: 100%;
    left: -25%;
    transform: translate3d(0, 76%, 0);
    will-change: transform;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out; /* Animation fluide */
    z-index: 0;
}


.intro {
  height: 100vh; /* 100% de la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}
.intro p {
  color: white;
  font-size: 4rem;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page-container {
  display: flex; /* Définit cette div comme un conteneur Flex */
  flex-direction: column; /* Empile les enfants verticalement (header, main, footer) */
  min-height: 100vh; /* S'assure que la div prend toute la hauteur de la fenêtre */
  justify-content: center;
  align-items: center;
}

/* Pour le fond noir de la page de transition */
.loading-screen {
  position: fixed;
  top: 100%;
  left : 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Assureque la page de transition soit bien noire */
  z-index: 9999; /* Au-dessus de tout le contenu */
  overflow: hidden; /* Empêche le contenu de déborder */
}
/* Texte central pour le nom de la page */
.loading-words {
  text-align: center;
  color: white; /* Assure-toi que le texte est visible sur le fond noir */
  font-size: 4rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Commence invisible, sera animé par GSAP */
  z-index: 10001;
}

.page-transition-rounded-div {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0; /* Commence à 0 et grandit */
}

.rounded-div-wrap {
  position: absolute;
  width: 100%;
  height: 0; /* Débute à 0 et grandit */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.6s ease-in-out; /* Animation de la hauteur */
  z-index: 10001;
}
.rounded-div {
  width: 775%;
  height: 150%;
  background-color: rgb(25, 25, 25); /* Ajuste la couleur */
  position: absolute;
  top: 50%;
  transform: translate(-6.5%, -50%);
  border-radius: 50%;
  z-index: 10001;
}

.page-transition-rounded-div.top {
  top: -50px; /* Caché en haut */
  left: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -86.666%) rotate(180deg); /* Courbé vers le haut */
}

.page-transition-rounded-div.bottom {
  bottom: -50px; /* Caché en bas */
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -86.666%); /* Courbé vers le bas */
}

.hidden-page {
  visibility: hidden;  /* Masque le contenu visuellement */
  opacity: 0;     /* Rend le contenu transparent*/
  pointer-events: none;   /* Désactive l'intéraction*/
}

/***************** Style page de maintenance *************************/
.coming-soon-container {
  display: flex;
  flex-direction:column;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  position: relative;
}

.overlay {
  /*background: rgba(219, 218, 218, 0.1); /* Couleur de l'overlay */
  height: 100%;
}

.coming-soon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Prend toute la hauteur de la fenêtre */
  position: relative;
  flex-wrap: wrap; /* Permet aux colonnes de se réorganiser sur plusieurs lignes si nécessaire */
  padding: clamp(0.5rem, 4vw, 2rem); /* Padding responsive */
}

.coming-soon-left-column, .coming-soon-right-column {
 flex: 1;
 max-width: 45%;
 /* border: solid 1px red; */
}
.coming-soon-left-column .row, .coming-soon-right-column .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centre le texte */
  /* border: solid 1px red; */
  margin: 20px 0; /* Marge entre les lignes */
  padding: 0 70px; 
}

.vertical-stripe {
  width: 2px; /* Largeur de la ligne */
  height: 60%; /* Prend 60 de la hauteur de l'écran */
  background-color: var(--text-color); /* Couleur de la ligne */
}
.logo {
  width: clamp(8rem, 8vw, 10rem);
  margin: 0;
}

.coming-soon-left-column h1 {
  font-size: clamp(1rem, 4vw, 3rem); /* Taille de texte responsive */
  margin: 0; /* Enlève la marge par défaut */
  padding: 0; /* Enlève le padding par défaut */
}

.coming-soon-left-column p {
  font-size: clamp(0.5rem, 1.5vw, 1rem); /* Taille de texte responsive */
  margin: 0; /* Enlève la marge par défaut */
  /*max-width: 90%; /* Limite la largeur du texte */
  line-height: 1.2; /* Espace entre les lignes */
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: clamp(60px, 10vw, 150px); /* Largeur de l'image */
  height: clamp(50px, 7vw, 100px);
  gap: clamp(1rem, 2vw, 2rem); /* Espace entre les chiffres */
}

.countdown span {
  font-size: 2rem; /* Taille de texte des countdown */
  font-weight: 450;
  position : relative;
  display: inline-block; /* Permet d'utiliser margin et padding */
  margin-top: 0.5rem;
}

.countdown span::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--text-color); /* Couleur de la ligne */
  margin: 1px auto; /* Espace entre le chiffre et la ligne */
  z-index: -1; /* Derrière le contenu */
}

.countdown p {
  font-size: 1rem;
  position: relative;
}

.countdown div {
  flex: 1; /* Chaque div prend une part égale de l'espace */
  padding: 0 10px; /* Espace entre les chiffres */
  border: 2px solid var(--text-color); /* Bordure autour de chaque chiffre */
  border-radius: 50%; /* cercle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  /* min-width:  ; */
}

.notify-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem; /* Espace au-dessus de la section */
  position: relative;
}

.coming-soon-circle-btn {
  background-color: var(--text-color) !important;  /* Couleur du bouton circle */
}

.coming-soon-circle-btn:hover .btn-fill {
  background-color: white !important; /* Couleur de remplissage du bouton */
}

.coming-soon-circle-btn:hover .btn-text-inner {
  color: var(--text-color); /* Couleur du texte au survol */
}
.coming-soon-social-icons {
  font-size: clamp(0.5rem, 2vw, 1.5rem); /* Taille responsive des icônes */
  color: var(--text-color); /* Couleur des icônes */
  display: flex;
  /* border: solid 1px red; */
}

.coming-soon-social-icons ul {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .coming-soon-wrapper {
    flex-direction: column; /* Colonne sur mobile */
    align-items: center; /* Centre le contenu */
  }
  .vertical-stripe {
    display: none; /* Cache la ligne verticale sur mobile */
  }
  .coming-soon-left-column, .coming-soon-right-column {
    max-width: 100%; /* Prend toute la largeur sur mobile */
    flex: 1; /* Prend toute la largeur disponible */
  }
}
/***************** Style *************************/

header {
  /*flex-shrink: 0;  /* Le header prend seulement la place de son contenu */
  position: relative; /* Positionne le header fixe en haut de la page */
  /*top: 0; /* Aligne le header en haut */
  left: 0; /* Assure qu'il commence à gauche */
  right: 0; /* Étend le header jusqu'à la droite */
  width: 100%; /* Assure que le header prend toute la largeur */
  z-index: 1000; /* Assure que le header reste au-dessus des autres éléments */
  background-color: transparent; /* Rends le header transparent */
  padding: var(--space-4); /* Utilise l'espace de 24px pour le padding */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Appliquer un overflow hidden pour éviter les débordements */
.header {
  overflow: hidden; /* Empêche l'élément de sortir de la zone du header */
}
/* Sticky menu uniquement quand on scroll */
header.scrolled {
  /* position: sticky; */
  /* top: 0; */
  padding: var(--space-4);
  z-index: 1000;
}

.header.scrolled.logo {
  position: relative;
  left: 0;
}
.header-link {
  font-size: var(--font-md); /* Taille de texte 16px définie dans layout.css */
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color); 
  cursor: pointer;
  position: relative;
}
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 0%;
  height: 2px;
  background-color: rgb(41, 41, 41); 
  border-radius: 2px;
  opacity: 0.8;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header-link:hover::after {
  width: 100%;
}
.logo {
  display:  flex;
  align-items: center;
}

nav {
  display: flex;

}

/* Le menu de navigation */
.nav-links {
  list-style: none;
  display: flex;
  gap: var(--space-6);  /* Espace entre les liens */
  margin: 0;
}
.nav-links.hidden {
  display: none;  /* Cache la barre de navigation après le scroll */
}
/* Limiter la zone de chaque élément avec .magnetic */
.header-link.magnetic {
  display: inline-block; /* Limiter l'effet à chaque lien individuel */
  position: relative;
  z-index: 100;
}

.header-link.active-link::after {
  content: ""; /* Le point */
  position: absolute;
  left: 50%;
  top: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(79, 78, 78);
  border-radius: 2px; /* Rond parfait */ 
  transform: translateX(-50%) scaleX(0);   /* Initialement caché*/
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animation de l'apparition */

.header-link.active-link:hover::after,
.header-link.active-link::after {
  transform: translateX(-50%) scaleX(1); /* Apparait et s'agrandit */
  opacity: 1; /*Devient visible */
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: var(--space-2) var(--space-5) 0 var(--space-5);
  /* font-size: clamp(1rem, 1.5vw, 2rem); */
}
.hamburger {
  display: flex; /*caché par défaut*/
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: clamp(4em, 5.5vw, 6em);
  height: clamp(4em, 5.5vw, 6em);
  border-radius: 50%;
  align-items: center;
  cursor: pointer; 
  transform: scale(0) rotate(0.001deg);
  transform-origin: center center;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);    /* Transition pour l'effet smooth */
  will-change: transform, opacity;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  top: var(--space-5);
  right: var(--space-5);
}
/* Sticky uniquement pour le hamburger menu après le scroll */
.header.scrolled .hamburger {
 
  overflow: hidden;
}

.header.scrolled .hamburger:hover .btn-fill{
  transform: translate3d(0, -76%, 0); /* Le remplissage monte au survol */
}

.hamburger.open {
  /* transform: scale(1); */
  background-color: #4a6cf7;
}

.hamburger.visible {
  transform: scale(1) rotate(0.001deg); /* Applique l'effet de grossissement */
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* État initial */
.hamburger:not(.visible) {
  transform: scale(0) rotate(0.001deg);
  transition: transform 0.8s
}

.hamburger.hidden {
  transform: scale(0); /* Rétrécit l'élément */
  transform-origin: center center;
  transition:  transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease-in-out;
}

.hamburger.hidden.done {
  display: none; /* Le retire complètement du flux après animation */
}


.hamburger span {
  position: absolute;
  height: 2px;
  width: 30%;
  background: var(--background-color);
  /*margin: 4px 0;  /* Espacement entre les barres */
  border-radius: 2px;  /* Coins arrondis pour un style plus doux */
  transition: all 0.3s ease;
  padding: 0px;
  z-index: 100;
}
.hamburger span:nth-child(2) {
  transform: translateY(-4px);
}

.hamburger span:nth-child(3) {
  transform: translateY(4px);
}

.hamburger.open span:nth-child(2) {
  transform: rotate(45deg); /* Transforme en croix */
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg); /* Transforme en croix */
}
/* Hamburger Highlight in Footer */
.hamburger.hightlight {
  border: 2px solid whitesmoke;
}

.fixed-nav-rounded-div {
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
  z-index: 1000;
}

.rounded-div-wrap {
  width: 6vw;
  height: 100%;
  transition: all.9s cubic-bezier(.7, 0, .3, 1);
  will-change: width;
  z-index: 1000;
}
.rounded-div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: white;
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(50%, 86.666%);
  z-index: 1000;
}
.active .fixed-nav-rounded-div .rounded-div-wrap {
  width: 0vw;
  z-index: 1000;
}
.fixed-nav-rounded-div .rounded-div-wrap .rounded-div {
  width:775%;
  content: "";
  display: block;
  position: absolute;
  background: rgb(25, 25, 25);
  height: 150%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
  z-index: 1000;
}
.offscreen-menu{
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  /* width: 100%; */
  height: 100vh;
  background: rgba(25, 25, 25) ;
  z-index: 999;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg); 
  transition: transform .8s cubic-bezier(.7, 0, .2, 1),
              opacity 0.8s ease-in-out, visibility 0s 0.8s;
  will-change: transform, opacity;
}

.offscreen-menu.active {
  display: flex !important;
  visibility: visible;
  transform: translate(0, 0) rotate(00.001deg);
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1), 
  opacity 0.8s ease-in-out; /* Supprime le délai sur visibility */
}

.offscreen-overlay {
  position : fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background 0.5 ease, visibility 0.5s ease;
  z-index: 998;
}

.offscreen-overlay.active {
  background: rgba(0, 0, 0, 0.1);
  visibility: visible;
}


.fixed-nav-inner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15vh 7.5vw 10vh 7.5vw;
  transform: translate(0, 0) rotate(0.001deg);
  transition: all .6s cubic-bezier(.7, 0, .2, 1);
  will-change: transform;
}
.fixed-nav-inner .nav-row ul {
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
}
.fixed-nav-links li {
  display: flex;
  margin: 0;
  padding: 0;
}
.offscreen-link {
  position: relative;
  font-size: clamp(1.5rem, 5vw, 2.75rem); /*Texte grand */
  text-decoration: none;
  color: white;
  display: flex;
  transition: color 0.3s ease;
  line-height: 1.3;
}

/* Cercle à gauche du lien actif */
.offscreen-link::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 55%;
  width: 9px;
  height: 9px;
  background-color: whitesmoke; 
  border-radius: 50%;
  transform: translateX(-50%) scale(0); /* Caché au départ */
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}


/* Apparition progressive du cercle */

.offscreen-link:hover::before,
.offscreen-link.active-link::before {
  transform: translateX(-50%) scale(1); /* Le cercle apparaît */
  opacity: 1;
}

.fixed-nav-inner .socials {
 width: 300px;
 display: flex;
 flex-direction: column;
}
.fixed-nav-inner p {
  font-size: clamp(0.6rem, 1vw, 0.75rem);
  font-weight: 650;
  color: #aaa;
  margin : 0;
  padding-bottom: var(--space-3);
  text-transform: uppercase;
}
.social-row-icons  {
  display: flex;
  justify-content: space-between;
  /* social-row-iconsborder: solid violet; */
}

/* Styles pour les boutons et liens avec l'effet magnet */
.magnetic {
  cursor: pointer;  /* Affiche la main */
  transform: translate(0, 0) scale(1);  /* État initial */
  transition: transform 0.3s ease;  /* Transition douce */
}

/* Applique un style supplémentaire lors de l'effet */
/*.magnetic:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);  /* Ajoute une ombre pour l'effet de focus
}*/

.page-name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 1000;
}
main {
  flex-grow: 1; /* Le main prend tout l'espace restant disponible */
  display: flex;
  padding: var(--space-4);
  width: 100%;
}

.stripe {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-border-light);
}

/*style pour le formulaire de contact */


body.contact-page {
  background-color: rgb(25, 25, 25);
  color: white;
}

body.contact-page .header-link {
  color: white;
}
body.contact-page .header-link:hover {
  color: white;
  text-decoration: none;
}
body.contact-page .header-link::after {
  background-color: white;
}
body.contact-page main {
  padding: 0 !important;
}

.contact-form {
  /* position: relative; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(25, 25, 25) ;
  color: white;
  border: solid 1px greenyellow;
}
.contact-form-top {
  border: solid 1px salmon;
}

.contact-form-top .row {
  flex-wrap: nowrap;
}
.contact-form-top .row .flex-col:nth-child(1) {
  flex: 73;
  padding-right: calc(var(--container-padding) / 2);
  box-sizing: border-box;
}
.contact-form-top .row .flex-col:nth-child(1) h1 span { 
  display: block;
}
.contact-profile-picture {
  position: relative;
  display: inline-flex;
  width: clamp(4.5em, 6.5vw, 8em);
  height: clamp(4.5em, 6.5vw, 8em);
  border-radius: 50%;
  /* overflow: hidden; */
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.contact-form-top .row .flex-col:nth-child(2) {
  flex: 27%;
  padding-left: calc(var(--container-padding) / 2);
}
.contact-form-top .row:nth-child(1) .flex-col:nth-child(2) {
  padding-top: calc(clamp(3.25em, 7vw, 8em) * .875 * 1.175);
}
.contact-form-top .row:nth-child(2) {
  border: solid 1px blue;
}
.form-row {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-border-light);
  padding: 0 2.75em;
}
/* * {
  outline: 1px solid red;
} */
/************************************/


/* Style pour le footer */
.footer {
  /* flex-shrink: 0; Le footer prend aussi juste la place de son contenu */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 70px 0 0 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(25, 25, 25) ;
  color: white;
  /* border : solid 1px violet; */
}

.footer-top {
  flex: 7;
  /* border: solid salmon; */
}
.medium {
  /* border: solid 1px red; */
  padding-left: calc(var(--container-padding)*2);
  padding-right: calc(var(--container-padding)*2);
}
 .container {
   margin: 0 auto;
 /*max-width: none;
 width: 100%;
 padding-left: var(--container-padding);
 padding-right: var(--container-padding);
 box-sizing: border-box; Inclut padding dans la largeur totale 
  border : solid red;*/
} 
/* Style pour la première partie du footer */

/* * {
  border: 1px solid red;
} */

.profile-picture {
  display: block;
  width: clamp(0.80em, 8vw, 0.85em);
  height: clamp(0.80em, 8vw, 0.85em);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.profile-picture img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

footer h2 {
  font-size: calc(clamp(3.25em, 7vw, 8em)* .875);
  padding: 0;
  margin-top: 0;
  line-height: 1;
}

footer h2 span {
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-and-text {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end; /* Aligne verticalement le texte par rapport à l'image */
  gap: var(--space-5); /* Espace entre l'image et le texte */
  /* border: solid blue; */
}
.footer .medium .row:nth-child(1) {
  padding-bottom: calc(var(--section-padding)* .175);
  
}
.footer .medium .row:nth-child(2) {
  padding-bottom: calc(var(--section-padding)* .475);
}
/* .footer .medium .row:nth-child(3) {
  padding-bottom: calc(var(--section-padding)* .375);
} */
/* .footer-contacts {
  display: flex;
  gap: 16px;
}*/

.get-in-touch-container {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.footer-circle-button {
  background-color: #4a6cf7;
  width: clamp(8em, 12vw, 11em);
  height: clamp(8em, 12vw, 11em);
  font-size: clamp(0.6rem, 1.35vw, 1.2rem); /* Taille du texte responsive */
  font-weight: 530;
  letter-spacing: clamp(-0.1em, 0.02vw, -0.05em) ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  }

  footer .medium .row:nth-child(3) .flex-col {
    display: flex;
    flex-direction: row;
    gap: clamp(0.5rem, 1vw, 1rem); /* Espace entre les boutons */
}

.btn-contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: clamp(0.75rem, 2vw, 1.05rem); /* Taille du texte responsive */
  font-weight: 600;
  letter-spacing: clamp(-0.1em, 0.02vw, -0.05em) ;
  padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1.5rem, 2vw, 2rem); /* Padding responsive */
  min-width: clamp(8rem, 15vw, 12rem); /* Largeur minimale et maximale des boutons */
  height: clamp(4rem, 5vw, 4.5rem); /* Hauteur des boutons */
  border: 1px solid var(--color-border-light); /* Bordure */
  overflow: hidden;
  outline: 0;
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.3s ease;
  z-index: 1;
}
.btn-contact:hover .btn-fill{
  transform: translate3d(0, -76%, 0); /* Le remplissage monte au survol */
  
}

/* Style pour la deuxième partie du footer */
.footer-bottom {
  display: flex;
  flex: 3;
  bottom: 0;
  left: 0;
  padding: calc(var(--section-padding) / 1.3) calc(var(--gap-padding) / 1.33) calc(var(--gap-padding) / 1.75) calc(var(--gap-padding) / 1);
}
.footer-bottom .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* border : solid salmon; */
}

.footer-bottom .row .flex-col {
  /* border: solid rgb(81, 12, 105); */
  margin-bottom: 20px;
}
.footer-bottom .footer-title {
  font-size: clamp(0.5rem, 0.9vw, 0.75rem);
  font-weight: 650;
  color: #aaa;
  margin : 0;
  padding-bottom: var(--space-3);
  text-transform: uppercase;
}
.footer-bottom p {
  font-size: clamp(0.5rem, 1.125vw, 0.9rem); 
  font-weight: 600;
  margin : 0;
}

.footer-bottom-left {
  display: flex;
  justify-content: start;
  gap: clamp(3rem, 1vw, 6rem);
  padding-left: var(--space-6);
}

.footer-bottom-left p {
  display: flex;
  justify-content: flex-start;
}

.socials {
  display: flex;
  flex-direction: column;
}
.socials ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(1rem, 2vw, 2.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon-globe {
  color: white;
  font-size: clamp(0.5rem, 3vw, 1rem); /* Taille responsive des icônes */
  margin-right: 5px;
  animation: rotateOnYAxis 5s linear infinite;
  transform-origin: center;
}

@keyframes rotateOnYAxis {
  /* from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } */
}

/* Animation pour les icônes de réseaux sociaux */

.footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: clamp(1rem, 1vw, 2rem); /* Espace flexible entre les icônes */
  padding: 0;
  margin: 0;
  /* border: solid salmon */
}
#local-time {
  font-size: clamp(0.6rem, 1vw, 0.9rem); 
  font-weight: 600;
}

.icon-link {
  position: relative;
  display: inline-flex;
  overflow: hidden; /* Empêche le contenu de déborder */
  color: white;
  font-size: clamp(0.60rem, 2vw, 1.40rem); /* Taille responsive des icônes */
  z-index: 1;
}

/* .icon-link:hover .btn-fill{
  /*transform: translate3d(0, -66%, 0); /* Le remplissage monte au survol  
} */

/* Style des icônes */
.icon {
  position: relative; /* Pour rester au-dessus du remplissage */
  z-index: 1; /* Priorité sur le remplissage */
}

.footer-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: clamp(4em, 1vw, 6rem);
  padding-right: var(--space-6);
  /* border: solid blue; */
}